# Before you start:
- Read the SQLtoPythonViz.md file and use the resources
- Happy learning!

In [4]:
# Import numpy, pandas and pymysql sqlalchemy (following what you have learned in previous lessons):

# Challenge 1 - Load and Evaluate the Datasets

#### In this challenge we will load data from MySQL Sakila database or Sian's Harry Potter MySQL database, by querying and evaluating the results returned using MySQL we can be selective about the data used to make visualisation with seaborn/matplotlib very easy

In the cell below, create a mysql engine for your local mysql instance and include your username, password and database schema name by creating a variable connection string following the following pattern:

create_engine(‘dialect+driver://username:password@host:port/database’)

This is the format to create the engine for a local mysql connection


connection_string = 'mysql+pymysql://root:' + password + '@localhost/db'


engine = create_engine(connection_string)

In [2]:
# Your code here:

Use this connection to load data with a sql query which connects the target tables in your database using joins, selects the fields you wish to work with and any aggregation columns + grouping / window function new columns or filters by where/having as appropriate. You can draw on any of the labs or lessons to establish what your query should look like. Its ok if this stage is a little trial and error!

In [4]:
# Your code here:

#### Let's start examining the dataset to ensure we have the data we want to visualise.

First look at the first five rows using the `head` function.

In [5]:
# Your code here:

Next, lets use the `info` function to see the dtypes and row counts

In [1]:
# Your code here:

Next, we'll examine the `describe` function to see the descriptive statistics for the numeric variables.

In [7]:
# Your code here:

#### At this stage it may be necessary to load another set of data with an additional mysql query and repeat the stages above - perhaps you are thinking to join the results of your two queries together or you think that both should be visualised separately to answer the question you came up with?

Do this in the following 3 cells below.

In [11]:
# Your code here:

In [12]:
# Your code here:

In [13]:
# Your code here:

#### Exploratory Data Analysis
You might benefit from doing some elementary EDA at this stage before jumping into plotting data, as this can help you grasp the shape, diversity and gaps in the data you have selected. This is a timesaver!

For this task you can use matplotlib/seaborn so you will need to import them, then work with : 

- df.hist()
- sns.boxplot(x=df["colname"])

In [ ]:
# Your code here (import visual libraries)

In [ ]:
# Your code here (histogram all numericals)

In [ ]:
# Your code here (box plot to see outliers for specific columns)

### Optional - if you are using more than one sql query 

If you decided to load two dataframes from two separate mysql queries and need to merge them using the merge concat or join functions, do so now. You can follow [this tutorial](https://realpython.com/pandas-merge-join-and-concat/) for more information about bringing dataframes together

In [ ]:
# your code here

# Challenge 2 - Export your data frame as a csv 

Export df to a csv file using the `df.to_csv` function, filtered if suitable, excluding any columns which are not useful for further analysis

In [ ]:
# Your code here:

# Challenge 3: Visualise relationships found in the data

At this stage you can visualise the data in your chosen tool, Tableau, Excel, Python(matploitlib,seaborn)

**Business Question**: think about what are the question(s) you want to answer with the data you have gathered from the MySQL database. Make the question as specific as possible 
- for example, which eye colour is most common per Hogwarts house? 
- for example, are childrens films rented more frequently on weekends than comedies?

**Visuals**: Think about what plot type best supports answering your question(s). Each plot/ visualisation should have an appropriate title, legend and axis labels, so the meaning is as clear as possible without needing a caption. Make use of colour pallettes ! dont just create a blue plot :) 

**Bonus** - find a way to amend your visualisation to add in at least one other interesting data point you have identified in the data to enhance the plot.

In [ ]:
# (if plotting in python) Your code here: